ENV=.env
SERVICE_NAME="Account Service"
SERVICE_HOST=
SERVICE_PORT=

ETH_URL=https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb
BSC_URL=https://bsc-dataseed.binance.org/
PRICE_SERVICE_HOST=
PRICE_SERVICE_PORT=
PRICES_PATH=
PRICE_SERVICE_MAIN_COIN_ADDRESS=

BLOCKS_SUBGRAPH_URL

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info

# ETHERSCAN TRANSACTIONS
ETHERSCAN_KEY=
ETHERSCAN_URL=https://api.etherscan.io/api

# BSC TRANSACTIONS
BSCSCAN_URL=https://api.bscscan.com/api
BSCSCAN_KEY=

# POLYGON TRANSACTIONS
POLYGONSCAN_URL=https://api.polygonscan.com/api
POLYGONSCAN_KEY=

# COVALENT / TRANSACTIONS
COVALENT_URL='https://api.covalenthq.com/v1'
COVALENT_KEY=

OPEN_SEA_URL=https://api.opensea.io/api/v1
OPEN_SEA_API_KEY=
OPEN_SEA_INTERVAL=2

ETH_URL=
BSC_URL=
POLYGON_URL=
FTM_URL=
XDAI_URL=
CELO_URL=
MRIVER_URL=
HARM_URL=
HECO_URL=

ETH_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
BSC_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
POLYGON_BALANCES_CHECKER_ADDRESS='0x1502c3c8e63873b1b162ed27a218069dc1486f51'
FTM_BALANCES_CHECKER_ADDRESS='0x1861eb1Cc764032509e4d2FF545138Be0ad3B240'
AVAX_BALANCES_CHECKER_ADDRESS='0x1861eb1Cc764032509e4d2FF545138Be0ad3B240'
ARBITRUM_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
XDAI_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
HARMONY_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
CELO_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
MOONRIVER_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'
HECO_BALANCES_CHECKER_ADDRESS='0x1861eb1cc764032509e4d2ff545138be0ad3b240'

# AAVEGOTCHI
AAVEGOTCHI_SUBGRAPH_ETHEREUM=https://api.thegraph.com/subgraphs/name/aavegotchi/aavegotchi-ethereum
AAVEGOTCHI_SUBGRAPH_POLYGON=https://api.thegraph.com/subgraphs/name/aavegotchi/aavegotchi-core-matic
AAVEGOTCHI_SUBGRAPH_SVG=https://api.thegraph.com/subgraphs/name/froid1911/aavegotchi-svg
