ENV=.env

NODE_ENV=development

SERVICE_NAME='Explore Opportunities Service'
SERVICE_HOST=localhost
SERVICE_PORT=3006

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

HTTP_TIMEOUT=60000
HTTP_MAX_REDIRECTS=2

INTEGRATION_SERVICE_URL=

MULTIFARM_API_KEY=
