ACCOUNT_SERVICE_HOST=http://account-service
ACCOUNT_SERVICE_PORT=3003

GATEWAY_SERVICE_HOST=http://gateway-service
GATEWAY_SERVICE_PORT=3001

INTEGRATION_SERVICE_HOST=http://integration-service
INTEGRATION_SERVICE_PORT=3004

PRICE_SERVICE_HOST=http://price-service
PRICE_SERVICE_PORT=3002

RPC_NODES_SERVICE_HOST=http://integration-service
RPC_NODES_SERVICE_PORT=3005

ASSETS_SERVICE_HOST=http://assets-service
ASSETS_SERVICE_PORT=3006

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_CONNECTION=postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=

# Logging
LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
SENTRY_DSN=https://d3623ec62dd14dbe81d0b82391c95d5d@o1128743.ingest.sentry.io/6171835

# RPC's
ARBITRUM_URL='https://arb1.arbitrum.io/rpc'
AVAX_URL='https://rpc.ankr.com/avalanche'
BOBA_URL="https://mainnet.boba.network/"
BSC_URL='https://bsc-dataseed.binance.org'
CELO_URL='https://forno.celo.org'
CRONOS_URL="https://evm-cronos.crypto.org"
ETH_URL='https://cloudflare-eth.com/'
FTM_URL='https://rpc.ftm.tools/'
HARM_URL='https://api.harmony.one'
HECO_URL='https://http-mainnet-node.huobichain.com'
KCC_URL="https://rpc-mainnet.kcc.network"
MRIVER_URL='https://rpc.moonriver.moonbeam.network'
OKEX_URL="https://exchainrpc.okex.org/"
OPT_URL="https://mainnet.optimism.io/"
POLYGON_URL='https://polygon-rpc.com/'
SOL_URL='http://api.mainnet-beta.solana.com'
GNOSIS_URL='https://rpc.xdaichain.com'
