ENV=.env
# SERVICE
SERVICE_NAME="API Gateway"
SERVICE_HOST=
SERVICE_PORT=3000
# LOG
LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info
# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=
# ACCOUNT
ACCOUNT_SERVICE_HOST=
ACCOUNT_SERVICE_PORT=
ACCOUNT_STATUS=v1/status
ACCOUNT_TRANSACTIONS=v1/transactions
ACCOUNT_BALANCE=v1/balances
ACCOUNT_24H_RETURNS='v1/balances/24-hour-returns'
ACCOUNT_APPROVALS=v1/approvals
ACCOUNT_ASSETS=v1/assets
ACCOUNT_ANALYTIC=v1/analytic
POOLS_PATH=v1/pools
VAULTS_PATH=v1/vaults
NFT_PROJECTS=v1/nft/projects
NFT_ASSETS=v1/nft/assets
# PRICE
PRICE_SERVICE_HOST=
PRICE_SERVICE_PORT=
PRICE_STATUS=v1/status
PRICES_PATH=v1/prices
PRICE_CHAINS_PATH=v1/chains
PRICE_CURRENCIES_PATH=v1/currencies
PRICE_BATCH_PATH=v1/batch
PRICE_RANGE_PATH=v1/range
PRICE_SERVICE_MAIN_COIN_ADDRESS=0x0000000000000000000000000000000000000000
# INTEGRATION
INTEGRATION_SERVICE_HOST=
INTEGRATION_SERVICE_PORT=3005
INTEGRATION_STATUS=v1/status
INTEGRATION_UNISWAP=/v1/integration/uniswap
INTEGRATION_SUSHISWAP=v1/integration/sushiswap
INTEGRATION_SPOOKYSWAP=v1/integration/spookyswap
INTEGRATION_PANCAKE=v1/integration/pancake
INTEGRATION_PROTOCOLS=v1/protocols
# SAFE
SAFE_PROXY_SERVICE_HOST=
SAFE_PROXY_SERVICE_PORT=
SAFE_PROXY_STATUS=v1/status
SAFE_PROXY_NETWORKS=v1/networks
SAFE_PROXY_PARTNERS=v1/partners
SAFE_PROXY_PROJECTS=v1/projects
SAFE_PROXY_SCAMS=v1/scams
SAFE_PROXY_SCAM_TYPES=v1/scams/types
SAFE_PROXY_SCAM_FUNCTIONS=v1/scams/functions
# EXTERNAL API's
GAS_API_URL=https://data-api.defipulse.com/api/v1
GAS_CURRENT_PATH=egs/api/ethgasAPI.json
GAS_API_KEY=
ETHERSCAN_API_URL=https://api.etherscan.io/api
ETHERSCAN_API_KEY=
BSCSCAN_API_URL=https://bsc-dataseed.binance.org/api
BSCSCAN_API_KEY=

DEFIYIELD_INFO_2_URL=https://api2.defiyield.info
TOKENS_PATH=tokens
GAS_HISTORY_PATH=gas-hist

DEFIYIELD_INFO_MAIN_URL=https://apimain.defiyield.info
APPROVALS_PATH=tool/approvals/eth
# MAILER
MAILER_HOST=smtp.gmail.com
MAILER_USER=
MAILER_PASS=
# MAIL HIRE
MAIL_HIRE_FROM=
MAIL_HIRE_TO=
# MAIL QUESTION
MAIL_QUESTION_FROM=
MAIL_QUESTION_TO=
# IL Calculator API
IL_CALCULATOR=https://ilapi1.defiyield.info/api/v2/calc
