ENV=.env.development
# SERVICE
SERVICE_NAME="API Gateway"
SERVICE_HOST=
SERVICE_PORT=
# LOG
LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=
# ACCOUNT
ACCOUNT_SERVICE_HOST=
ACCOUNT_SERVICE_PORT=
ACCOUNT_TRANSACTIONS=
ACCOUNT_STATUS=
ACCOUNT_BALANCE=
ACCOUNT_24H_RETURNS=
ACCOUNT_APPROVALS=
ACCOUNT_ASSETS=
ACCOUNT_ANALYTIC=
POOLS_PATH=
VAULTS_PATH=
NFT_PROJECTS=
NFT_ASSETS=
NFT_COLLECTIONS=
# PRICE
PRICE_SERVICE_HOST=
PRICE_SERVICE_PORT=
PRICE_STATUS=
PRICES_PATH=
PRICE_CHAINS_PATH=
PRICE_CURRENCIES_PATH=
PRICE_BATCH_PATH=
PRICE_RANGE_PATH=
PRICE_SERVICE_MAIN_COIN_ADDRESS=
# INTEGRATION
INTEGRATION_SERVICE_HOST=
INTEGRATION_SERVICE_PORT=
INTEGRATION_STATUS=
INTEGRATION_UNISWAP=
INTEGRATION_SUSHISWAP=
INTEGRATION_SPOOKYSWAP=
INTEGRATION_PANCAKE=
INTEGRATION_PROTOCOLS=
INTEGRATION_PROTOCOLS_V2=
# SAFE
SAFE_PROXY_SERVICE_HOST=
SAFE_PROXY_SERVICE_PORT=
SAFE_PROXY_STATUS=
SAFE_PROXY_NETWORKS=
SAFE_PROXY_PARTNERS=
SAFE_PROXY_PROJECTS=
SAFE_PROXY_SCAMS=
SAFE_PROXY_SCAM_TYPES=
SAFE_PROXY_SCAM_FUNCTIONS=
# EXTERNAL API'S
GAS_API_URL=
GAS_CURRENT_PATH=
GAS_API_KEY=
ETHERSCAN_API_URL=
ETHERSCAN_API_KEY=
BSCSCAN_API_URL=
BSCSCAN_API_KEY=

DEFIYIELD_INFO_2_URL=
TOKENS_PATH=
GAS_HISTORY_PATH=

DEFIYIELD_INFO_MAIN_URL=
APPROVALS_PATH=
# MAILER
MAILER_HOST=
MAILER_USER=
MAILER_PASS=
# MAIL HIRE
MAIL_HIRE_FROM=
MAIL_HIRE_TO=
# MAIL QUESTION
MAIL_QUESTION_FROM=
MAIL_QUESTION_TO=
# IL Calculator API
IL_CALCULATOR=
