#HOST=localhost
PORT=3000

INTEGRATION_SERVICE_HOST=
INTEGRATION_SERVICE_PORT=3005
INTEGRATION_UNISWAP=v1/integration/uniswap

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info

POOLS_SERVICE_URL=https://dashdevapi.defiyield.info
POOLS_PATH=pools

VAULTS_SERVICE_URL=https://dashdevapi.defiyield.info
VAULTS_PATH=vaults

DEFIYIELD_INFO_2_URL=https://api2.defiyield.info
TOKENS_PATH=tokens
GAS_HISTORY_PATH=gas-hist

DEFIYIELD_INFO_MAIN_URL=https://apimain.defiyield.info
APPROVALS_PATH=tool/approvals/eth

GAS_API_URL=https://www.gasnow.org/api/v3
GAS_CURRENT_PATH=gas/price?utm_source=defi

PRICE_SERVICE_HOST=localhost
PRICE_SERVICE_PORT=3004
PRICES_STATUS=v1/status
PRICES_PATH=v1/prices
PRICES_CHAINS_PATH=v1/chains
PRICES_CURRENCIES_PATH=v1/currencies
