#HOST=localhost
PORT=3000

POOLS_SERVICE_URL=https://dashdevapi.defiyield.info
POOLS_PATH=pools

DEFIYIELD_INFO_2_URL=https://api2.defiyield.info
TOKENS_PATH=tokens
GAS_HISTORY_PATH=gas-hist

DEFIYIELD_INFO_MAIN_URL=https://apimain.defiyield.info
APPROVALS_PATH=tool/approvals/eth

GAS_API_URL=https://www.gasnow.org/api/v3
GAS_CURRENT_PATH=gas/price?utm_source=defi

PRICE_SERVICE_HOST=
PRICE_SERVICE_PORT=
PRICES_PATH=v1/prices
PRICES_HOSTORICAL_PATH=v1/prices/historical
