ENV=.env.development.local
# SERVICE
SERVICE_NAME="API Gateway"
SERVICE_HOST=
SERVICE_PORT=3000
# LOG
LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=
# ACCOUNT
ACCOUNT_SERVICE_HOST=http://localhost
ACCOUNT_SERVICE_PORT=3001
ACCOUNT_STATUS=v1/status
ACCOUNT_TRANSACTIONS=v1/transactions
ACCOUNT_BALANCE=v1/balances/covalent
ACCOUNT_APPROVALS=v1/approvals
ACCOUNT_ASSETS=v1/assets
ACCOUNT_ANALYTIC=v1/analytic
POOLS_PATH=v1/pools
VAULTS_PATH=v1/vaults
# PRICE
PRICE_SERVICE_HOST=http://localhost
PRICE_SERVICE_PORT=3004
PRICE_STATUS=v1/status
PRICES_PATH=v1/prices
PRICE_CHAINS_PATH=v1/chains
PRICE_CURRENCIES_PATH=v1/currencies
PRICE_SERVICE_MAIN_COIN_ADDRESS=0x0000000000000000000000000000000000000000
# INTEGRATION
INTEGRATION_SERVICE_HOST=http://localhost
INTEGRATION_SERVICE_PORT=3005
INTEGRATION_STATUS=v1/status
INTEGRATION_UNISWAP=v1/integration/uniswap
INTEGRATION_SUSHISWAP=v1/integration/sushiswap
INTEGRATION_PANCAKE=v1/integration/pancake
INTEGRATION_PROTOCOLS=v1/protocols
# SAFE
SAFE_PROXY_SERVICE_HOST=http://localhost
SAFE_PROXY_SERVICE_PORT=3006
SAFE_PROXY_STATUS=v1/status
SAFE_PROXY_NETWORKS=v1/networks
SAFE_PROXY_PARTNERS=v1/partners
SAFE_PROXY_PROJECTS=v1/projects
SAFE_PROXY_SCAMS=v1/scams
SAFE_PROXY_SCAM_TYPES=v1/scams/types
SAFE_PROXY_SCAM_FUNCTIONS=v1/scams/functions
# EXTERNAL API's
DEFIYIELD_INFO_2_URL=https://api2.defiyield.info
TOKENS_PATH=tokens
GAS_HISTORY_PATH=gas-hist
DEFIYIELD_INFO_MAIN_URL=https://apimain.defiyield.info
APPROVALS_PATH=tool/approvals/eth
GAS_API_URL=https://www.gasnow.org/api/v3
GAS_CURRENT_PATH=gas/price?utm_source=defi
ETHERSCAN_API_URL=https://api.etherscan.io/api
ETHERSCAN_API_KEY=
BSCSCAN_API_URL=https://bsc-dataseed.binance.org/api
BSCSCAN_API_KEY=
# MAILER
MAILER_HOST=smtp.gmail.com
MAILER_USER=
MAILER_PASS=
# MAIL HIRE
MAIL_HIRE_FROM=
MAIL_HIRE_TO=
# MAIL QUESTION
MAIL_QUESTION_FROM=
MAIL_QUESTION_TO=
# IL Calculator API
IL_CALCULATOR=https://ilapi1.defiyield.info/api/v2/calc
