COINGECKO_API_URL=https://api.coingecko.com
PRICE_SERVICE_URL=https://prc.dfyield.xyz
PRICE_UPDATE_LIMIT_IN_HOURS=24
TOKEN_SERVICE_URL=https://acc.dfyield.xyz
NODE_ENV=development
SENTRY_DSN=

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=
REDIS_CACHE_TTL=
