# Chain Settings
CHAIN_ID=4
RPC_URL='https://rpc.ftm.tools'
MULTICALL_CONTRACT=

# Services
ACCOUNT_SERVICE_HOST='https://acc.dfyield.xyz'
PRICE_SERVICE_HOST='https://prc.dfyield.xyz/'

# App Config
SERVICE_NAME="Protocol Price Lambda (Fantom)"
ENV=.env

# Logging
LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Subgraphs
YEARN_V2_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/yearn/yearn-vaults-v2-fantom'
