# Chain Settings
CHAIN_ID=1
# RPC_URL='https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb';
RPC_URL='https://rpc.ankr.com/eth'
MULTICALL_CONTRACT='0x255f2a7712cc06944aeef4ea78349c54c22ffe1f'

# Services
ACCOUNT_SERVICE_HOST='https://acc.dfyield.xyz'
PRICE_SERVICE_HOST='https://prc.dfyield.xyz/'

# App Config
SERVICE_NAME="Protocol Price Lambda"
ENV=.env

# Logging
LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
LOG_IN_JSON=false
SENTRY_DSN=https://d3623ec62dd14dbe81d0b82391c95d5d@o1128743.ingest.sentry.io/6171835
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Subgraphs - *note: not ever subgraph will be needed per chain
AAVE_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/aave/protocol-v2"
YEARN_V2_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/salazarguille/yearn-vaults-v2-subgraph-mainnet'
