RPC_URL=
# Multicall Address
CONTRACT_ADDRESS=
CHAIN_ID=
CURRENCY_ID='1'

# Services
PRICE_SERVICE_URL='https://prc.dfyield.xyz'
TOKEN_SERVICE_URL='https://acc.dfyield.xyz'

# [{ "address": "0xfactory", "name": "dex" }]
PROTOCOL='[]'
STABLE_COINS='[]'
WHITE_LIST_COINS='[]'
WRAPPED_COIN=
LIQUIDITY_LIMIT=1000
POOL_UPDATE_HOURS=72

SENTRY_DSN=
