RPC_URL='https://evm-cronos.crypto.org'

# Multicall Address
CONTRACT_ADDRESS='0x11e14AEABbCD1774B37C4EE5E1aD3c831ACc2A2c'
CHAIN_ID='14'
CURRENCY_ID='1'

# price
PRICE_SERVICE_URL='https://prc.dfyield.xyz'

# Account
TOKEN_SERVICE_URL='https://acc.dfyield.xyz'

# { address: factory, name: dex, coin: wrappedToken }
PROTOCOL='[ { "address": "0x3b44b2a187a7b3824131f8db5a74194d0a42fc15", "name": "vvs" }, { "address": "0x73A48f8f521EB31c55c0e1274dB0898dE599Cb11", "name": "cronaswap" } , { "address": "0xe9c29cB475C0ADe80bE0319B74AD112F1e80058F", "name": "crodex" }]'
# USDC, USDT, DAI
STABLE_COINS='["0xc21223249CA28397B4B6541dfFaEcC539BfF0c59", "0x66e428c3f67a68878562e79A0234c1F83c208770", "0xF2001B145b43032AAF5Ee2884e456CCd805F677D"]'
WHITE_LIST_COINS='[]'
WRAPPED_COIN=0x5C7F8A570d578ED84E63fdFA7b1eE72dEae1AE23

LIQUIDITY_LIMIT=1000
POOL_UPDATE_HOURS=72
