RPC_URL='https://rpc.fuse.io'

# Multicall Address
CONTRACT_ADDRESS='0x92a09557707ab4888eacc034122120f27362da7f'
CHAIN_ID='21'
CURRENCY_ID='1'

# price
PRICE_SERVICE_URL='https://prc.dfyield.xyz'

# Account
TOKEN_SERVICE_URL='https://acc.dfyield.xyz'

# { address: factory, name: dex, coin: wrappedToken }
PROTOCOL='[ { "address": "0x779407e40dad9d70ba5adc30e45cc3494ec71ad2", "name": "elk" } ]'
# USDT, USDC, fUSD
STABLE_COINS='["0xfadbbf8ce7d5b7041be672561bba99f79c532e10", "0x620fd5fa44be6af63715ef4e65ddfa0387ad13f5", "0x249be57637d8b013ad64785404b24aebae9b098b"]'
WHITE_LIST_COINS='[]'
WRAPPED_COIN=0x0be9e53fd7edac9f859882afdda116645287c629
LIQUIDITY_LIMIT=1000
POOL_UPDATE_HOURS=72
