RPC_URL='https://rpc-mainnet.kcc.network'

# Multicall Address
CONTRACT_ADDRESS='0xE5B89aA6fb36E31BeA8AB13B73eB3291De95D4E7'
CHAIN_ID='16'
CURRENCY_ID='1'

# price
PRICE_SERVICE_URL='https://prc.dfyield.xyz'

# Account
TOKEN_SERVICE_URL='https://acc.dfyield.xyz'

# { address: factory, name: dex, coin: wrappedToken }
PROTOCOL='[ { "address": "0xAE46cBBCDFBa3bE0F02F463Ec5486eBB4e2e65Ae", "name": "kuswap" }, { "address": "0x1f9aa39001ed0630da6854859d7b3ed255648599", "name": "elk" } ]'
# USDT, USDC, DAI, BUSD
STABLE_COINS='["0x0039f574eE5cC39bdD162E9A88e3EB1f111bAF48", "0x980a5AfEf3D17aD98635F6C5aebCBAedEd3c3430", "0xc9BAA8cfdDe8E328787E29b4B078abf2DaDc2055", "0xE3F5a90F9cb311505cd691a46596599aA1A0AD7D"]'
WHITE_LIST_COINS='[]'
WRAPPED_COIN=0x4446fc4eb47f2f6586f9faab68b3498f86c07521
LIQUIDITY_LIMIT=1000
POOL_UPDATE_HOURS=72
