RPC_URL='https://andromeda-rpc.metis.io/'

# Multicall Address
CONTRACT_ADDRESS='0x82eb1e71f808974df9f3061ef0fb79511d4c8249'
CHAIN_ID='24'
CURRENCY_ID='1'

# price
# PRICE_SERVICE_URL='http://localhost:3004/v1/prices/current'
PRICE_SERVICE_URL='https://prc.dfyield.xyz'

# Account
# TOKEN_SERVICE_URL='http://localhost:3001/v1/assets/pools'
TOKEN_SERVICE_URL='https://acc.dfyield.xyz'

# { address: factory, name: dex, coin: wrappedToken }
PROTOCOL='[ { "address": "0x70f51d68d16e8f9e418441280342bd43ac9dff9f", "name": "netswap" } ]'
# USDT, USDC
STABLE_COINS='["0xea32a96608495e54156ae48931a7c20f0dcc1a21", "0xbb06dca3ae6887fabf931640f67cab3e3a16f4dc"]'

WHITE_LIST_COINS='[]'


## Missing
WRAPPED_COIN='0x420000000000000000000000000000000000000a'
LIQUIDITY_LIMIT=1000
POOL_UPDATE_HOURS=72
