RPC_URL='https://exchainrpc.okex.org/'

# Multicall Address
CONTRACT_ADDRESS='0x11e14AEABbCD1774B37C4EE5E1aD3c831ACc2A2c'
CHAIN_ID='13'
CURRENCY_ID='1'

# price
PRICE_SERVICE_URL='https://prc.dfyield.xyz'

# Account
TOKEN_SERVICE_URL='https://acc.dfyield.xyz'

# { address: factory, name: dex, coin: wrappedToken }
PROTOCOL='[ { "address": "0xd654cbf99f2907f06c88399ae123606121247d5c", "name": "jswap" }, { "address": "0x709102921812B3276A65092Fe79eDfc76c4D4AFe", "name": "cherryswap" } ]'
# USDT
STABLE_COINS='["0x382bb369d343125bfb2117af9c149795c6c65c50"]'
WHITE_LIST_COINS='[]'
WRAPPED_COIN=0x8f8526dbfd6e38e3d8307702ca8469bae6c56c15
LIQUIDITY_LIMIT=1000
POOL_UPDATE_HOURS=72
