ENV=.env.development
SERVICE_NAME="Account Service Consumers"

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

RABBITMQ_URL=
ASSET_MIGRATION_QUEUE=
TRANSACTION_EVENTS_MIGRATION_QUEUE=
TRANSACTION_NEW_ASSET_ADDED=
COVALENT_URL=
COVALENT_KEY=

PRICE_SERVICE_HOST=
PRICE_SERVICE_PORT=
PRICES_PATH=

ETH_URL=
BSC_URL=
ETHPLORER_URL=https://api.ethplorer.io

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=
CACHE_TTL_IN_SECONDS=
