ENV=.env.development.local
SERVICE_NAME="Price Service Crawlers"
SERVICE_HOST=
SERVICE_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info
LOG_IN_JSON=false
SENTRY_DSN=

CURRENT_PRICE_SECONDS_INTERVAL=300
HISTORY_PRICE_SECONDS_INTERVAL=3600

THEGRAPH_UNISWAP_ENDPOINT=https://api.thegraph.com/subgraphs/name/tretiakpk/uniswap-v2
THEGRAPH_SUSHISWAP_ENDPOINT=https://api.thegraph.com/subgraphs/name/tretiakpk/sushiswap-fork-of-uniswap-v2
THEGRAPH_PANCAKE_ENDPOINT=https://api.thegraph.com/subgraphs/name/tretiakpk/cak

SWAP_0X_ENDPOINT=https://api.0x.org/swap/v1/

ETH_URL=https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb
BSC_URL=https://bsc-dataseed.binance.org/


DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SYNCHRONIZE=false
DB_LOGGING=true
DB_ENTITIES=entities/**/*.ts

MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASS=
MONGO_HOST_OLD=mongodb://127.0.0.1/agenda
