ENV=.env
SERVICE_NAME="Account Service Crawlers"
SERVICE_HOST=
SERVICE_PORT=3083

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info

PRICE_SERIVCE_ENDPOINT='https://price.dfyield.xyz/v1/prices'

ETH_TOKEN_USD_PRICE_JOB_NAME=ETH_TOKEN_USD_PRICE_UPDATE

# PRICE SERVICE
PRICE_SERVICE_MAIN_COIN_ADDRESS=0x0000000000000000000000000000000000000000
PRICE_SERVICE_HOST=https://price.dfyield.xyz
PRICE_SERVICE_PORT=
PRICE_STATUS=v1/status
PRICES_PATH=v1/prices

MONGO_CONNECTION_STRING=
ETH_URL=
BSC_URL=
ETH_BLOCKS_MIGRATION_STEP=
BSC_BLOCKS_MIGRATION_STEP=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

RABBITMQ_URL=
ASSET_MIGRATION_QUEUE=
