ENV=.env.development
SERVICE_NAME="Integration Service"
SERVICE_HOST=
SERVICE_PORT=

DB_CONNECTION=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SYNCHRONIZE=false
DB_LOGGING=true

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug

AMM_SUSHISWAP_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/tretiakpk/sushiswap-fork-of-uniswap-v2"
AMM_UNISWAP_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/tretiakpk/uniswap-v2"
AMM_BALANCER_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/dashvm7/balancer"
BLOCKS_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/blocklytics/ethereum-blocks"
AMM_PANCAKE_SUBGRAPH_URL=
AMM_CURVE_SUBGRAPH_URL=
BLOCKS_BSC_SUBGRAPH_URL=
VAULT_SUSHISWAP_SUBGRAPH_URL=

ETH_URL=
CURVE_API_URL=
COINGECKO_API_URL=

