HOST =
PORT=

AMM_SUSHISWAP_SUBGRAPH_URL=
AMM_UNISWAP_SUBGRAPH_URL=
AMM_BALANCER_SUBGRAPH_URL=
BLOCKS_SUBGRAPH_URL=

DB_CONNECTION=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SYNCHRONIZE=false
DB_LOGGING=true
