ENV=.env.development.local
SERVICE_NAME="Integration Service"
SERVICE_HOST=
SERVICE_PORT=3005

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SYNCHRONIZE=false
DB_LOGGING=true

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=
# PRICE
PRICE_SERVICE_HOST=http://localhost
PRICE_SERVICE_PORT=3004
PRICES_PATH=v1/prices
#ACCOUNT
ACCOUNT_SERVICE_HOST=http://localhost
ACCOUNT_SERVICE_PORT=3001
ACCOUNT_BALANCE=v1/balances
ACCOUNT_ASSETS=v1/assets

AMM_SUSHISWAP_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/tretiakpk/sushiswap-fork-of-uniswap-v2"
AMM_UNISWAP_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/tretiakpk/uniswap-v2"
AMM_BALANCER_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/dashvm7/balancer"
BLOCKS_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/blocklytics/ethereum-blocks"
AMM_PANCAKE_SUBGRAPH_URL=
AMM_CURVE_SUBGRAPH_URL=
BLOCKS_BSC_SUBGRAPH_URL=
VAULT_SUSHISWAP_SUBGRAPH_URL=
THEGRAPH_SUSHISWAP_STAKING_POSITIONS=https://api.thegraph.com/subgraphs/name/xavier59/masterchef

ETH_URL=https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb
CURVE_API_URL=
COINGECKO_API_URL=

