#HOST=localhost
PORT=3005
DB_HOST=
DB_USER=
DB_PASS=
DB_PASS=
PAIRS_REQUEST_URL=https://api.bscgraph.org/subgraphs/id/QmUDNRjYZ7XbgTvfVnXHj6LcTNacDD9GPXHWLjdTKi6om6
BLOCKS_REQUEST_URL=https://api.bscgraph.org/subgraphs/name/bsc-blocks