
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info
ETH_URL=
BSC_URL=
POLYGON_URL=
FTM_URL=
INTEGRATION_SERVICE_URL=
ACCOUNT_SERVICE_URL=
PRICE_SERVICE_URL=
