ENV=.env
SERVICE_NAME="Integration Service"
SERVICE_HOST=
SERVICE_PORT=

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SYNCHRONIZE=false
DB_LOGGING=true

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info
SENTRY_DSN=https://d3623ec62dd14dbe81d0b82391c95d5d@o1128743.ingest.sentry.io/6171835

JOBS_CACHE_TTL_IN_SECONDS=
POOLS_CACHE_TTL_IN_SECONDS=
CHAIN_CACHE_TTL_IN_SECONDS=
CURRENCY_CACHE_TTL_IN_SECONDS=
PRICE_CACHE_TTL_IN_SECONDS=

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

# PRICE
PRICE_SERVICE_URL=

#ACCOUNT
ACCOUNT_SERVICE_URL=

# SUBGRAPHS
AMM_PANCAKE_SUBGRAPH_URL=
AMM_PANGOLIN_SUBGRAPH_URL=
AMM_UNISWAP_SUBGRAPH_URL=
AMM_UNISWAP_V3_ETH_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3'
AMM_UNISWAP_V3_ARBI_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/ianlapham/arbitrum-minimal'
AMM_UNISWAP_V3_OPT_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/ianlapham/optimism-post-regenesis'
AMM_UNISWAP_V3_PLG_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/ianlapham/uniswap-v3-polygon'
BLOCKS_BSC_SUBGRAPH_URL=
BLOCKS_SUBGRAPH_URL=
QUICKSWAP_SUBGRAPH_URL=
AUTOFARM_SUBGRAPH_URL=
ALPACA_SUBGRAPH_URL=
YEARN_ETH_SUBGRAPH_URL=
YEARN_FTM_SUBGRAPH_URL=
YEARN_V1_ETH_SUBGRAPH_URL=
AAVE_ETH_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/aave/protocol-v2"
AAVE_PLG_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/aave/aave-v2-matic"
AAVE_AVAX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/aave/protocol-v2-avalanche'
COMPOUND_ETH_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/cavanmflynn/compound-v2'

SUSHISWAP_ARBI_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/arbitrum-exchange'
SUSHISWAP_AVAX_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/avalanche-exchange'
SUSHISWAP_BSC_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/bsc-exchange'
SUSHISWAP_CELO_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/celo-exchange'
SUSHISWAP_ETH_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/exchange'
SUSHISWAP_FTM_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/fantom-exchange'
SUSHISWAP_HECO_EXCHANGE_SUBGRAPH_URL='https://q.hg.network/heco-exchange/heco'
SUSHISWAP_MATIC_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/matic-exchange'
SUSHISWAP_MRIVER_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/moonriver-exchange'
SUSHISWAP_OKEX_EXCHANGE_SUBGRAPH_URL='https://q.hg.network/okex-exchange/oec'
SUSHISWAP_ONE_EXCHANGE_SUBGRAPH_URL='https://sushi.graph.t.hmny.io/subgraphs/name/sushiswap/harmony-exchange'
SUSHISWAP_GNOSIS_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/xdai-exchange'

SUSHISWAP_ETH_MASTERCHEF_V2_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/master-chefv2'
SUSHISWAP_ETH_MASTERCHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/master-chef'
SUSHISWAP_ETH_SUSHIBAR_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/sushi-bar'

SUSHISWAP_ARBI_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/arbitrum-bentobox'
SUSHISWAP_BSC_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/bsc-bentobox'
SUSHISWAP_ETH_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/bentobox'
SUSHISWAP_PLG_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/matic-bentobox'
SUSHISWAP_GNOSIS_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/xdai-bentobox'

SUSHISWAP_ARBI_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/matthewlilley/arbitrum-minichef'
SUSHISWAP_CELO_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/celo-minichef'
SUSHISWAP_MRIVER_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/moonriver-minichef'
SUSHISWAP_ONE_MINICHEF_SUBGRAPH_URL='https://sushi.graph.t.hmny.io/subgraphs/name/sushiswap/harmony-minichef'
SUSHISWAP_PLG_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/matic-minichef'
SUSHISWAP_GNOSIS_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/matthewlilley/xdai-minichef'

ALPACA_API_URL=https://api.alpacafinance.org/v1/positions
AUTOFARM_API_URL=https://static.autofarm.network/bsc/farm_data.json
PANCAKEV2_MAIN_STAKING_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/defilord/pcv2-msc

# RPCS
ARBITRUM_URL='https://arb1.arbitrum.io/rpc'
AVAX_URL='https://rpc.ankr.com/avalanche'
BOBA_URL='https://mainnet.boba.network/'
BSC_URL='https://bsc-dataseed.binance.org'
CELO_URL='https://forno.celo.org'
CRONOS_URL="https://evm-cronos.crypto.org"
ETH_URL='https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb'
FTM_URL='https://rpc.ftm.tools/'
HARM_URL='https://api.harmony.one'
HECO_URL='https://http-mainnet-node.huobichain.com'
KCC_URL="https://rpc-mainnet.kcc.network"
MRIVER_URL='https://rpc.moonriver.moonbeam.network'
OKEX_URL="https://exchainrpc.okex.org/"
OPT_URL="https://mainnet.optimism.io/"
POLYGON_URL='https://polygon-rpc.com/'
SOL_URL='http://api.mainnet-beta.solana.com'
GNOSIS_URL='https://rpc.xdaichain.com'
AURORA_URL='https://mainnet.aurora.dev'
TERRA_URL='https://lcd.terra.dev'

COINGECKO_API_URL=
