NODE_ENV=
ENV=.env.development
SERVICE_NAME="Safe Service Proxy"
SERVICE_HOST=
SERVICE_PORT=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SAFE_API_URL=
SAFE_API_NETWORKS=network
SAFE_API_PARTNERS=partner
SAFE_API_PROJECTS=audit
SAFE_API_SCAMS=scam_database
SAFE_API_SCAM_TYPES=scam_database/types
SAFE_API_SCAM_FUNCTIONS=scam_database/functions
