ENV=.env

NODE_ENV=development

SERVICE_NAME='RPC Nodes Service'
SERVICE_HOST=localhost
SERVICE_PORT=6065

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ENDPOINTS_SUCCESS_RATE_TTL=
ENDPOINTS_SUCCESS_RATE_MAX_ITEMS_NUM=
ENDPOINTS_SUCCESS_RATE_HISTORY_TTL=

RPC_NODES_MAX_RETRIES=

SSL=
SSL_KEY_PATH=
SSL_CERT_PATH=