ENV=.env

NODE_ENV=development

SERVICE_NAME="Assets Service"
SERVICE_HOST=localhost
SERVICE_PORT=6066

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
LOG_IN_JSON=false
SENTRY_DSN=

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

CARDANO_BLOCKFROST_API_KEY=
ETH_URL=
SOL_URL=
TERRA_URL=
SOLANA_URL=

DEBANK_CHAINS_LIST_URL=
DEBANK_API_ACCESS_KEY=

COINGECKO_TOKEN_LIST_URL=
COINMARKETCAP_TOKEN_LIST_URL=
COINMARKETCAP_API_KEY=
COINMARKETCAP_TOKEN_LIST_LIMIT=

ACCOUNT_SERVICE_CHAINS_LIST_URL=

IOTEX_URL=
MILKOMEDA_URL=

#14 days = 1000 * 60 * 60 * 24 * 14
REPROCESS_ASSET_PERIOD_MS=1209600000

# this parameter is optional, but keep in mind that
# if not provided then all requests to github is done
# without authntication with rate limit of 60 requests per hour
GITHUB_OAUTH_TOKEN=
