ACCOUNT_SERVICE_URL=https://acc.dfyield.xyz
ARBITRUM_URL=https://arb1.arbitrum.io/rpc
AURORA_URL=https://mainnet.aurora.dev
AUTOFARM_API_AVAX_URL=https://static.autofarm.network/avax/farm_data.json
AUTOFARM_API_CELO_URL=https://static.autofarm.network/celo/farm_data.json
AUTOFARM_API_CRO_URL=https://static.autofarm.network/cronos/farm_data.json
AUTOFARM_API_FTM_URL=https://static.autofarm.network/fantom/farm_data.json
AUTOFARM_API_HARM_URL=https://static.autofarm.network/harmony/farm_data.json
AUTOFARM_API_HECO_URL=https://static.autofarm.network/heco/farm_data.json
AUTOFARM_API_MRIVER_URL=https://static.autofarm.network/moonriver/farm_data.json
AUTOFARM_API_OKEX_URL=https://static.autofarm.network/okex/farm_data.json
AUTOFARM_API_URL=https://static.autofarm.network/bsc/farm_data.json
AUTOFARM_API_XDAI_URL=https://static.autofarm.network/xdai/farm_data.json
AVAX_URL=https://api.avax.network/ext/bc/C/rpc
BOBA_URL=https://lightning-replica.boba.network
BSC_URL=https://bsc-dataseed.binance.org
CELO_URL=https://forno.celo.org
CRONOS_URL=https://evm-cronos.crypto.org
DB_CONNECTION=postgres
DB_DATABASE=postgres
DB_HOST="host.example.com"
DB_LOGGING=true
DB_PASSWORD="password"
DB_PORT=5432
DB_SYNCHRONIZE=false
DB_USERNAME="username"
ETH_URL=https://mainnet.infura.io/v3/eb49fe03a73a40dc91bf236e3a604fe7
FTM_URL=https://rpc.ftm.tools
GNOSIS_URL=https://rpc.xdaichain.com
HARM_URL=https://api.harmony.one
HECO_URL=https://http-mainnet-node.huobichain.com
HTTP_BODY_DATA=" "
HTTP_ENDPOINT=https://eop.dfyield.xyz/v1/opportunities/sync
HTTP_METHOD=POST
INTEGRATION_SERVICE_URL=https://int.dfyield.xyz
KCC_URL=https://rpc-mainnet.kcc.network
MRIVER_URL=https://rpc.moonriver.moonbeam.network
OKEX_URL=https://exchainrpc.okex.org/
OPT_URL=https://mainnet.optimism.io/
POLYGON_URL=https://polygon-rpc.com/
PRICE_SERVICE_URL=https://prc.dfyield.xyz
SOL_URL=https://solana--mainnet--rpc.datahub.figment.io/apikey/b57463cc87a5e3b59348534997a599a8/
SUNDAESWAP_URL=https://stats.sundaeswap.finance/graphql
TERRA_URL=https://lcd.terra.dev
TRADERJOE_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/traderjoe-xyz/exchange
XDAI_URL=https://rpc.xdaichain.com


