ENV=.env.development
SERVICE_NAME="Integration Service"
SERVICE_HOST=
SERVICE_PORT=3005

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=debug
LOG_IN_JSON=false
SENTRY_DSN=

JOBS_CACHE_TTL_IN_SECONDS=
POOLS_CACHE_TTL_IN_SECONDS=
CHAIN_CACHE_TTL_IN_SECONDS=
CURRENCY_CACHE_TTL_IN_SECONDS=
PRICE_CACHE_TTL_IN_SECONDS=

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_SYNCHRONIZE=false
DB_LOGGING=true

REDIS_HOST=
REDIS_PORT=
REDIS_AUTH=

# Internal Services
PRICE_SERVICE_URL=
ACCOUNT_SERVICE_URL=
ASSETS_SERVICE_URL=

# SUBGRAPHS
AMM_PANCAKE_SUBGRAPH_URL=
AMM_PANGOLIN_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/dasconnor/pangolin-dex"
AMM_UNISWAP_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/tretiakpk/uniswap-v2"
AMM_UNISWAP_V3_ETH_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3'
AMM_UNISWAP_V3_ARBI_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/ianlapham/arbitrum-minimal'
AMM_UNISWAP_V3_OPT_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/ianlapham/optimism-post-regenesis'
AMM_UNISWAP_V3_PLG_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/ianlapham/uniswap-v3-polygon'
BLOCKS_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/blocklytics/ethereum-blocks"
QUICKSWAP_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/proy24/quickswap-polygon
COMPOUND_ETH_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/cavanmflynn/compound-v2'
ALPACA_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/defilord/alpaca-fair-launch
YEARN_ETH_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/salazarguille/yearn-vaults-v2-subgraph-mainnet'
YEARN_FTM_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/yearn/yearn-vaults-v2-fantom'
YEARN_V1_ETH_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/iearn-finance/yearn-finance'
AAVE_ETH_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/aave/protocol-v2"
AAVE_PLG_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/aave/aave-v2-matic"
AAVE_AVAX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/aave/protocol-v2-avalanche'

SUSHISWAP_ARBI_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/arbitrum-exchange'
SUSHISWAP_AVAX_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/avalanche-exchange'
SUSHISWAP_BSC_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/bsc-exchange'
SUSHISWAP_CELO_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/celo-exchange'
SUSHISWAP_ETH_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/exchange'
SUSHISWAP_FTM_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/fantom-exchange'
SUSHISWAP_HECO_EXCHANGE_SUBGRAPH_URL='https://q.hg.network/heco-exchange/heco'
SUSHISWAP_MATIC_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/matic-exchange'
SUSHISWAP_MRIVER_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/moonriver-exchange'
SUSHISWAP_OKEX_EXCHANGE_SUBGRAPH_URL='https://q.hg.network/okex-exchange/oec'
SUSHISWAP_ONE_EXCHANGE_SUBGRAPH_URL='https://sushi.graph.t.hmny.io/subgraphs/name/sushiswap/harmony-exchange'
SUSHISWAP_GNOSIS_EXCHANGE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/xdai-exchange'

SUSHISWAP_ETH_MASTERCHEF_V2_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/master-chefv2'
SUSHISWAP_ETH_MASTERCHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/master-chef'
SUSHISWAP_ETH_SUSHIBAR_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/sushi-bar'

SUSHISWAP_ARBI_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/arbitrum-bentobox'
SUSHISWAP_BSC_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/bsc-bentobox'
SUSHISWAP_ETH_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/bentobox'
SUSHISWAP_PLG_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/matic-bentobox'
SUSHISWAP_GNOSIS_BENTOBOX_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/xdai-bentobox'

SUSHISWAP_ARBI_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/matthewlilley/arbitrum-minichef'
SUSHISWAP_CELO_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/celo-minichef'
SUSHISWAP_MRIVER_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/moonriver-minichef'
SUSHISWAP_ONE_MINICHEF_SUBGRAPH_URL='https://sushi.graph.t.hmny.io/subgraphs/name/sushiswap/harmony-minichef'
SUSHISWAP_PLG_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/sushiswap/matic-minichef'
SUSHISWAP_GNOSIS_MINICHEF_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/matthewlilley/xdai-minichef'
SUNDAESWAP_URL=https://stats.sundaeswap.finance/graphql
MINSWAP_URL=https://monorepo-mainnet-prod.minswap.org/graphql

ALPACA_API_URL=https://api.alpacafinance.org/v1/positions
PANCAKEV2_MAIN_STAKING_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/defilord/pcv2-msc

# RPCS
ARBITRUM_URL='https://arb1.arbitrum.io/rpc'
AVAX_URL='https://rpc.ankr.com/avalanche'
BOBA_URL="https://mainnet.boba.network/"
BSC_URL='https://bsc-dataseed.binance.org'
CELO_URL='https://forno.celo.org'
CRONOS_URL="https://evm-cronos.crypto.org"
ETH_URL='https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb'
FTM_URL='https://rpc.ftm.tools/'
HARM_URL='https://api.harmony.one'
HECO_URL='https://http-mainnet-node.huobichain.com'
KCC_URL="https://rpc-mainnet.kcc.network"
MRIVER_URL='https://rpc.moonriver.moonbeam.network'
OKEX_URL="https://exchainrpc.okex.org/"
OPT_URL="https://mainnet.optimism.io/"
POLYGON_URL='https://polygon-rpc.com/'
SOL_URL='http://api.mainnet-beta.solana.com'
GNOSIS_URL='https://rpc.xdaichain.com'
AURORA_URL='https://mainnet.aurora.dev'
TERRA_URL='https://lcd.terra.dev'
KAVA_API=https://api2.kava.io

COINGECKO_API_URL=

# BlockScan Chains (Etherscan & friends)
BLOCKSCAN_BNB_KEY=
BLOCKSCAN_BNB_URL=https://api.bscscan.com/api
BLOCKSCAN_ETH_KEY=
BLOCKSCAN_ETH_URL=https://api.etherscan.io/api
BLOCKSCAN_FTM_KEY=
BLOCKSCAN_FTM_URL=https://api.ftmscan.com/api
BLOCKSCAN_MOVR_KEY=
BLOCKSCAN_MOVR_URL=https://api-moonriver.moonscan.io/api
BLOCKSCAN_PLG_KEY=
BLOCKSCAN_PLG_URL=https://api.polygonscan.com/api
BLOCKSCAN_AVAX_KEY=
BLOCKSCAN_AVAX_URL=https://api.snowtrace.io/api
BLOCKSCAN_OPT_KEY=
BLOCKSCAN_OPT_URL=https://api-optimistic.etherscan.io/api
BLOCKSCAN_ARBI_KEY=
BLOCKSCAN_ARBI_URL=https://api.arbiscan.io/api
BLOCKSCAN_BOBA_URL=https://blockexplorer.boba.network/api

# BlockScout Chains

COVALENT_URL=https://api.covalenthq.com/v1
COVALENT_KEY=

WING_RIDERS_EXPLORER_URL=https://explorer.mainnet.wingriders.com
WING_RIDERS_AGGREGATOR_URL=https://aggregator.mainnet.wingriders.com
MUESLI_SWAP_STAKING_URL=https://staking.muesliswap.com
MUESLI_SWAP_ORDERBOOK_URL=https://orderbookv2.muesliswap.com
