SERVICE_NAME="Integration Service Crawlers"
HOST=
PORT=

LOG_ERROR_FILE=error.log
LOG_COMBINED_FILE=combined.log
LOG_LEVEL=info

DB_HOST=
DB_USER=
DB_PASS=
DB_DATABASE=
DB_PORT=

# 50 is the max of optimal value, > 50 will drop the thegraph.com subgraph
CONCURRENCY_PROMISES_LIMIT=50

MONGO_CONNECTION_STRING=

UNISWAP_JOB_NAME=UNISWAP_MIGRATION
SUSHISWAP_JOB_NAME=SUSHISWAP_MIGRATION
CURVE_JOB_NAME=CURVE_MIGRATION

AGENDA_EVERY_SECONDS=60

UNISWAP_REQUEST_URL=https://api.thegraph.com/subgraphs/name/tretiakpk/uniswap-v2
SUSHISWAP_REQUEST_URL=https://api.thegraph.com/subgraphs/name/tretiakpk/sushiswap-fork-of-uniswap-v2
CURVE_REQUEST_URL=https://api.thegraph.com/subgraphs/name/tretiakpk/curvedeposit
