# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Logs
LOG_COMBINED_FILE=combined.log
LOG_ERROR_FILE=error.log
LOG_LEVEL=info
SENTRY_DSN=https://d3623ec62dd14dbe81d0b82391c95d5d@o1128743.ingest.sentry.io/6171835

# RPCS
AVAX_URL='https://api.avax.network/ext/bc/C/rpc'
BSC_URL='https://bsc-dataseed.binance.org/'
ETH_URL='https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb'
FTM_URL='https://rpc.ftm.tools/'
POLYGON_URL='https://rpc-mainnet.matic.network/'
HARM_URL='https://api.harmony.one'
OKEX_URL="https://exchainrpc.okex.org/"
ARBITRUM_URL='https://speedy-nodes-nyc.moralis.io/fb2d5d331e654c2b35f7e440/arbitrum/mainnet'
SOL_URL='http://api.mainnet-beta.solana.com'

# Services
ACCOUNT_SERVICE_URL='https://acc.dfyield.xyz/'
INTEGRATION_SERVICE_URL='https://int.dfyield.xyz/'
PRICE_SERVICE_URL='https://prc.dfyield.xyz/'

# Subgraph
ISLANDSWAP_SUBGRAPH_URL='https://app.islandswap.com/subgraphs/name/islandswap/exchange'
TRADERJOE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/traderjoe-xyz/exchange'

# API
AUTOFARM_API_URL='https://static.autofarm.network/bsc/farm_data.json'
AUTOFARM_API_CRO_URL='https://static.autofarm.network/cronos/farm_data.json'
AUTOFARM_API_HECO_URL='https://static.autofarm.network/heco/farm_data.json'
AUTOFARM_API_AVAX_URL='https://static.autofarm.network/avax/farm_data.json'
AUTOFARM_API_FTM_URL='https://static.autofarm.network/fantom/farm_data.json'
AUTOFARM_API_HARM_URL='https://static.autofarm.network/harmony/farm_data.json'
AUTOFARM_API_OKEX_URL='https://static.autofarm.network/okex/farm_data.json'
AUTOFARM_API_GNOSIS_URL='https://static.autofarm.network/xdai/farm_data.json'
AUTOFARM_API_MRIVER_URL='https://static.autofarm.network/moonriver/farm_data.json'
AUTOFARM_API_CELO_URL='https://static.autofarm.network/celo/farm_data.json'
MINSWAP_URL=https://monorepo-mainnet-prod.minswap.org/graphql
SONAR_POOLS_PUBLIC_API=https://api.sonar.watch/latest/pools
SONAR_FARMS_PUBLIC_API=https://api.sonar.watch/latest/farms
SOLANA_TOKENS_PUBLIC_API=https://token-list.solana.com/solana.tokenlist.json