# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Logs
LOG_COMBINED_FILE=combined.log
LOG_ERROR_FILE=error.log
LOG_LEVEL=info
LOG_IN_JSON=false
SENTRY_DSN=

# RPCS
ARBITRUM_URL='https://speedy-nodes-nyc.moralis.io/fb2d5d331e654c2b35f7e440/arbitrum/mainnet'
AVAX_URL='https://api.avax.network/ext/bc/C/rpc'
BOBA_URL='https://lightning-replica.boba.network'
BSC_URL='https://bsc-dataseed.binance.org/'
CELO_URL='https://forno.celo.org'
CRONOS_URL="https://evm-cronos.crypto.org"
ETH_URL='https://mainnet.infura.io/v3/d38bddd842b94305a23f91596991a9eb'
FTM_URL='https://rpc.ftm.tools/'
FUSE_URL='https://rpc.fuse.io/'
HARM_URL='https://api.harmony.one'
HECO_URL='https://http-mainnet-node.huobichain.com'
KCC_URL="https://rpc-mainnet.kcc.network"
MRIVER_URL='https://rpc.moonriver.moonbeam.network'
OKEX_URL="https://exchainrpc.okex.org/"
POLYGON_URL='https://rpc-mainnet.matic.network/'
SOL_URL='http://api.mainnet-beta.solana.com'
XDAI_URL='https://rpc.xdaichain.com'
GNOSIS_URL='https://rpc.gnosischain.com/'
KLAYTN_URL='https://public-node-api.klaytnapi.com/v1/cypress'
AURORA_URL='https://mainnet.aurora.dev/'
OPT_URL='https://mainnet.optimism.io/'

# Services
ACCOUNT_SERVICE_URL='https://devaccount.defiyield.app/'
INTEGRATION_SERVICE_URL='https://devintegration.defiyield.app/'
PRICE_SERVICE_URL='https://devprice.defiyield.app/'

# Subgraph
TRADERJOE_SUBGRAPH_URL='https://api.thegraph.com/subgraphs/name/traderjoe-xyz/exchange'

# API
SONAR_POOLS_PUBLIC_API=https://api.sonar.watch/latest/pools
SONAR_FARMS_PUBLIC_API=https://api.sonar.watch/latest/farms
SOLANA_TOKENS_PUBLIC_API=https://token-list.solana.com/solana.tokenlist.json
WINGRIDERS_AGGREGATOR_URL=https://aggregator.mainnet.wingriders.com
WINGRIDERS_EXPLORER_URL=https://explorer.mainnet.wingriders.com

# API Keys
CARDANO_BLOCKFROST_API_KEY=

# CHAINS
CHAIN_IDS=
